{% extends "users/base.html" %}

{% block content %}

      </div>
        <h2 class="article-title">{{ object.plan_name }}</h2>
        <p class="article-content">{{ object.description }}<br>Amount: Rs.{{ object.amount }}<br>Validity: {{object.validity}} months</p>
        <p>You are about to purchase the {{ object.plan_name }}.</p>
      </div>
  <div>
      <form method="POST">
            <a class="btn btn-secondary btn-sm mt-1 mb-1" type="submit">Purchase</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'user-home' %}">Cancel</a>
          </form>
          </div>

{% endblock %}